<!-- <div class="wrapper">
    <div class="contents" id="marker-popup-contents">
      <div class="details">
        <div class="row row-top m-0">
          <div class="col-6 col-sm-6 col-md-6 col-xl-6 col-lg-6 left-col p-0">
            <span class="line1">{{ currentMarkerData?.location_main }} </span>
            <span class="line2">{{ currentMarkerData?.location_sub }}</span>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-xl-6 col-lg-6 right-col p-0">
            <span>{{ currentMarkerData?.date | date:"shortDate" }}</span>
            <button type="button" [style.background-color]="getSeverityColor()" class="btn btn-sm btn-warning btn-highactivity">{{ currentMarkerData?.status }}</button>
          </div>
        </div>
        <div class="row row-bottom m-0">
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 pr-0 data-col p-0">
            <span>Polis</span>
            <span *ngIf="currentMarkerData?.team_name_pdrm">{{ currentMarkerData?.team_name_pdrm }}</span>
            <span *ngIf="!currentMarkerData?.team_name_pdrm">No Data</span>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 data-col p-0">
            <span>Awam</span>
            <span *ngIf="currentMarkerData?.team_name_aerodyne">{{ currentMarkerData?.team_name_aerodyne }}</span>
            <span *ngIf="!currentMarkerData?.team_name_aerodyne">No Data</span>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 pl-0 data-col p-0">
            <span>Tools</span>
            <span>MCE</span>
          </div>
        </div>
      </div>
      <div *ngIf="currentMarkerImages && currentMarkerImages.length > 0" class="gallery" [ngStyle]="{'background-image': 'url(' + currentMarkerImages[0] + ')'}">
      </div>
      <div class="row footer m-0">
        <!--<div class="col-6 col-sm-6 col-md-6 col-xl-6 col-lg-6 col-btns">
          <span>View Report</span>
        </div>-->
        <!-- <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-lg-12 col-btns" (click)="onLearnMoreBtnClicked()">
          <span>More</span>
        </div>
      </div>
      <div class="close-btn-container" (click)="onCloseBtnClicked()">
        <img src="assets/imgs/icons/cancel.png">
      </div>
    </div>
  </div> -->
   -->