
<head>
    <title>Viewer</title>
    <!-- <link rel="stylesheet" href="app.component.scss"> -->
  </head>
  
  
  <body>
  <div class="body">
   <div class="container">
      <iframe src="https://aerodyne-masdar-data.s3.me-south-1.amazonaws.com/Processed/Maptiler/Hala-DSM/openlayers.html" width="100%" height="750px" style="border:none;"></iframe>
    <div class="form-box">
      <div class="location">
        <h1>Sri Baniyas Island</h1>
        <div class="location-coor">
        <p><b>LAT</b></p>
        <p><b>LNG</b></p>
        </div>
      </div>
      <hr>
      <div class="function">
        <div id="btn"></div>
        <button type="button" class="button" (click)="ortho()"><img src="assets/icon/tile.png" style="width: 41px; height: 39px;">Ortho</button>
        <button type="button" class="button" (click)="Mesh()"><img src="assets/icon/cube.png" style="width: 43px; height: 39px;">Mesh</button>
        <button type="button" class="button" (click)="Contour()"><img src="assets/icon/contour.png" style="width: 29px; height: 28px;">Contour</button>
      </div>
      <hr>
      <div class="sitedetails">
      <p>Area</p>
      <p>Volumetric Area</p>
      <p>Min Elavation</p>
      <p>Max Elavation</p>
      </div>
      <hr>
      <div class="image">
      <img src="assets/image/test.jpg" alt="" style="width: 100%; height:200px;">
      
      
      
      </div>
      <hr>
      <div class="annotations">
        <div class="annotated">
        <p>Annotations 1</p>
        <p>Annotations 2</p>
        <p>Annotations 3</p>
        <p>Annotations 4</p>
          </div>
  
          <div class="dates">
            <p>18/06/2020</p>
            <p>18/06/2020</p>
            <p>18/06/2020</p>
            <p>18/06/2020</p>
          </div>
  
          <div class="share">
            <img src="assets/icon/share.png" alt="" style="width: 20px; height: 20px;">
            <img src="assets/icon/share.png" alt="" style="width: 20px; height: 20px;">
            <img src="assets/icon/share.png" alt="" style="width: 20px; height: 20px;">
            <img src="assets/icon/share.png" alt="" style="width: 20px; height: 20px;">
  
  
          </div>
          <div class="delete">
              <img src="assets/icon/delete.png" alt="" style="width: 20px; height: 20px;">
              <img src="assets/icon/delete.png" alt="" style="width: 20px; height: 20px;">
              <img src="assets/icon/delete.png" alt="" style="width: 20px; height: 20px;">
              <img src="assets/icon/delete.png" alt="" style="width: 20px; height: 20px;">
    
    
            </div>
  
      </div>
      <hr>
      <div class="data">
        <img src="assets/icon/download.png" alt="" style="width: 29px; height: 28px;">
        <button id="download"><b>.tiff</b></button>
        <button id="download"><b>.las</b></button>
        <button id="download"><b>.dxf</b></button>
  
      </div>
      </div>
   
    
  
  </div>
  
  </div>  
  <script>
    var x = document.getElementById("login");
    var y = document.getElementById("sign-up");
    var z = document.getElementById("btn");
  
    function signup(){
      x.style.left = "-400px";
      y.style.left = "50px";
      z.style.left = "110px";
  
    }
    function login(){
      x.style.left = "50px";
      y.style.left = "450px";
      z.style.left = "0px";
  
    }
  </script>
  </body>
  